*.log
.eslintcache
refractorLanguages.ts
.pnpm-store

.env
public/pdf.worker.min.mjs
**/*.css.d.ts
/playwright-report
/playwright.state.json
/test-results
/.vscode
playground.ts

# dependencies
/node_modules
.pnpm-store

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo
next-env.d.ts

## Panda
src/styled-system

certificates